
<div class="container">
<div class="templateforadd" >
    <div class="branding-logo">
      <%= image_tag( @coupon.image ) -%>
    </div>
    <div class="content">
      <!-- all of this is just sudo code  -->
        <h3><%= @coupon.description -%></h3>
        <h2>Show this page to the Sharehorn team to get it.</h2>
        <h1>Want more deals?</h1>
    </div>
    <div class="follow-us-pls">
      <a href="https://twitter.com/sharehorn" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @sharehorn</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

</div>
</div>

<br>
<br>



<!-- if error show this if success -->

<%= link_to "Signout", destroy_user_session_path, method: :delete %>


<!-- http://localhost:3000/users/sign_in -->
