<!DOCTYPE html>
<html>
<head>
  <title>Replicash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.css" media="screen" title="no title" charset="utf-8">

</head>
<body>

<%= yield %>

</body>
</html>
