# option_settings:
#   - option_name: RACK_ENV
#     value: staging
#   - option_name: RAILS_ENV
#     value: staging

# Need postgres devl tools for pg gem
packages:
  yum:
    git: []
    postgresql93-devel: []
    patch: []

# Run rake tasks before an application deployment
container_commands:
  01bundler-pg:
    command: bundle config build.pg --with-pg-config=/usr/bin/pg_config
    ignoreErrors: true
