
<div class="navbar">
  <nav>
     <h1>Welcome to Sharehorn</h1>
  </nav>
</div>

<div class="container">
  <div class="landingpage" >
    <div class="branding">
      <h1 class="animated bounce">Sharehorn</h1>
       <h2>Share Stuff to get Stuff</h2>
    </div>
    <div class="landing-content">
      <!-- all of this is just sudo code  -->

    </div>
    <div class="landing-followuspls">
      <a href="https://twitter.com/sharehorn" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @sharehorn</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

</div>
</div>

<br>
<br>



<!-- if error show this if success -->




<!-- http://localhost:3000/users/sign_in -->
